* {
    font-family: 'DM Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /* #070814
    #050612 */
    background: linear-gradient(#070814, #050612);
}

hr {
    background-color: #4D5562;
    height: 1px;
    border-style: solid;
    border-width: 0;
    /* Убираем стандартную рамку */
    margin: 15px 0;
    /* Верхний и нижний отступы */
}

textarea {
    font-size: 14px;
    line-height: 0.875rem;
    resize: none;
    width: 100%;
    background-color: transparent;
    color: #F9FAFB;
    outline: none;
    border: none;
    height: 5.65rem;
}

textarea::placeholder {
    color: #F9FAFB;
}

.container {
    background-image: url(./public/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.logo {
    padding-top: 80px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    min-height: 220px;
    flex-basis: 50%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #4D5562;
    padding: 20px;
}

.block.to-translate {
    background-color: #212936cc;
    margin-left: 80px;
}

.block.translated {
    background-color: #121826cc;
    margin-right: 80px;
}

.languages__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.languages__parameter {
    cursor: pointer;
    color: #4D5562;
    font-size: 14px;
    line-height: 0.875rem;
}

.languages__parameter.active {
    color: #F9FAFB;
    font-size: 14px;
    line-height: 0.875rem;
    background-color: #4D5562;
    padding: 10px;
    border-radius: 10px;
}

#reverse-button, .sound, .copy {
    cursor: pointer;
    border: 2px solid #4D5562;
    padding: 3px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: block;
}

.sound {
    margin-right: 5px;
}

#characters-count {
    color: #4D5562;
    font-size: 12px;
    line-height: 0.75rem;
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 10px 0px;
}

#translated {
    color: #F9FAFB;
    font-size: 14px;
    line-height: 0.875rem;
    min-height: 8rem;
    max-width: 100%;
    word-break: break-word;
}

#translate-button {
    cursor: pointer;
    background-color: #3662E3;
    color: #F9FAFB;
    border: 1px solid #7CA9F3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 0.875rem;
}

#translate-button > img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1024px) {
    .jumbotron {
        flex-direction: column;
    }

    .block {
        flex-basis: 100%;
        width: 80%;
    }

    .block.to-translate, .block.translated {
        margin-left: 0px;
        margin-right: 0px;
    }
}